<h1>Welcome to this Test Website</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<p><%= link_to "Register", new_user_path %></p>
<p><%= link_to "Login", log_in_path %></p>
<p><%= link_to "Logout", log_out_path %></p>
